<app-header />

<div class="book__ticket__wrapper">
  <nz-modal
    [(nzVisible)]="isToggleTrailer"
    [nzStyle]="{ left: '-35%', top: '5%' }"
    [nzWidth]="0"
    [nzFooter]="null"
    (nzOnCancel)="handleCancel()"
  >
    <ng-container *nzModalContent>
      <iframe
        width="1022"
        height="575"
        src="https://www.youtube.com/embed/0HSIUZtxeKM?si=Rj5nlxJtWQv9b6Tc"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </ng-container>
  </nz-modal>

  <div class="relative bg-black flex justify-center w-full h-full">
    <div class="absolute w-full h-full z-[300] bg-[#0003]"></div>
    <div class="relative h-full">
      <div class="absolute top-0 -left-[0%] z-100">
        <img
          alt="Blur Left"
          loading="lazy"
          width="342"
          height="680"
          decoding="async"
          data-nimg="1"
          class="w-full lg:h-[500px] object-cover lg:block hidden"
          style="color: transparent"
          src="/assets/images/movie-details/blur-left.7a4f1851.png"
        />
      </div>
      <div class="relative">
        <img
          alt="Img Movie"
          width="1440"
          height="440"
          decoding="async"
          data-nimg="1"
          class="w-[860px] h-full md:h-full lg:h-[500px] object-cover duration-500 ease-in-out group-hover:opacity-100 scale-100 blur-0 grayscale-0"
          style="color: transparent"
          src="https://cdn.galaxycine.vn/media/2024/2/6/gap-lai-chi-bau-750_1707203931695.jpg"
        />
        <button
          class="absolute top-[50%] left-[50%] -translate-x-2/4 -translate-y-2/4 z-[600]"
          (click)="showModalTrailer()"
        >
          <img
            alt="play"
            loading="lazy"
            width="64"
            height="64"
            decoding="async"
            data-nimg="1"
            class="w-[40px] h-[40px] lg:w-[64px] lg:h-[64px] object-cover duration-500 ease-in-out group-hover:opacity-100 scale-100 blur-0 grayscale-0"
            style="color: transparent"
            src="https://www.galaxycine.vn/_next/static/media/button-play.2f9c0030.png"
          />
        </button>
      </div>
      <div class="absolute top-0 -right-[0%] z-100 lg:block hidden">
        <img
          alt="Blur Right"
          loading="lazy"
          width="342"
          height="680"
          decoding="async"
          data-nimg="1"
          class="w-full lg:h-[500px] object-cover"
          style="color: transparent"
          src="/assets/images/movie-details/blur-right.52fdcf99.png"
        />
      </div>
    </div>
  </div>
  <div
    class="grid grid-cols-1 screen1200:grid-cols-7 my-0 mx-auto screen1390:max-w-screen-xl xl:max-w-screen-screen1200 lg:max-w-4xl md:max-w-4xl gap-8 py-7 md:px-4 px-4"
  >
    <div class="book__left lg:col-span-5 w-full">
      <div class="book__film flex flex-col">
        <div class="movie__info relative md:grid hidden grid-cols-3 md:gap-5 gap-3 lg:items-end">
          <div
            class="movie__thumbnail lg:-translate-y-20 md:-translate-y-16 -translate-y-0 col-span-1 drop-shadow-2xl z-[500]"
          >
            <img
              alt="Gặp Lại Chị Bầu"
              width="220"
              height="280"
              decoding="async"
              data-nimg="1"
              class="border-2 rounded border-white lg:w-[320px] lg:h-[400px] w-full h-full object-fill duration-500 ease-in-out group-hover:opacity-100 scale-100 blur-0 grayscale-0"
              style="color: transparent"
              src="https://cdn.galaxycine.vn/media/2024/2/6/gap-lai-chi-bau-500_1707203931098.jpg"
            />
          </div>
          <div class="col-span-2 lg:-translate-y-20 flex flex-col justify-end md:-translate-y-16 -translate-y-0">
            <div class="item__title flex items-center">
              <h1 class="text-[20px] md:text-[24px] lg:text-[28px] font-bold text-white mr-4">Gặp Lại Chị Bầu</h1>
              <span
                class="inline-flex items-center justify-center w-[38px] h-7 bg-primary rounded text-sm text-center text-white font-bold not-italic"
              >
                T13
              </span>
            </div>
            <div class="flex items-center">
              <div class="text-sm flex items-center font-semibold not-italic">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" class="inline-block align-baseline mr-1">
                  <path
                    d="M7 0C3.13306 0 0 3.13306 0 7C0 10.8669 3.13306 14 7 14C10.8669 14 14 10.8669 14 7C14 3.13306 10.8669 0 7 0ZM7 12.6452C3.88105 12.6452 1.35484 10.119 1.35484 7C1.35484 3.88105 3.88105 1.35484 7 1.35484C10.119 1.35484 12.6452 3.88105 12.6452 7C12.6452 10.119 10.119 12.6452 7 12.6452ZM8.74435 9.69839L6.34798 7.95685C6.26048 7.89193 6.20968 7.79032 6.20968 7.68306V3.04839C6.20968 2.8621 6.3621 2.70968 6.54839 2.70968H7.45161C7.6379 2.70968 7.79032 2.8621 7.79032 3.04839V7.04798L9.67581 8.41976C9.82823 8.52984 9.85927 8.74153 9.74919 8.89395L9.21855 9.625C9.10847 9.7746 8.89677 9.80847 8.74435 9.69839Z"
                    fill="#cc2d3f"
                  ></path>
                </svg>
                <span>114 Phút</span>
              </div>
              <div class="text-sm ml-4 flex items-center font-semibold not-italic">
                <svg width="12" height="14" viewBox="0 0 12 14" fill="none" class="inline-block align-baseline mr-1">
                  <path
                    d="M10.7143 1.75H9.42857V0.328125C9.42857 0.147656 9.28393 0 9.10714 0H8.03571C7.85893 0 7.71429 0.147656 7.71429 0.328125V1.75H4.28571V0.328125C4.28571 0.147656 4.14107 0 3.96429 0H2.89286C2.71607 0 2.57143 0.147656 2.57143 0.328125V1.75H1.28571C0.575893 1.75 0 2.33789 0 3.0625V12.6875C0 13.4121 0.575893 14 1.28571 14H10.7143C11.4241 14 12 13.4121 12 12.6875V3.0625C12 2.33789 11.4241 1.75 10.7143 1.75ZM10.5536 12.6875H1.44643C1.35804 12.6875 1.28571 12.6137 1.28571 12.5234V4.375H10.7143V12.5234C10.7143 12.6137 10.642 12.6875 10.5536 12.6875Z"
                    fill="#cc2d3f"
                  ></path>
                </svg>
                <span>30/01/2024</span>
              </div>
            </div>
            <div class="mt-2">
              <a class="text-[20px] hover:text-primary transition duration-500 ease-in-out cursor-pointer">
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="star"
                  class="svg-inline--fa fa-star w-5 hover:text-primary mr-1 text-primary-10 transition duration-500 ease-in-out"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                >
                  <path
                    fill="currentColor"
                    d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                  ></path>
                </svg>
                <span class="inline-block mr-1">8.7</span>
                <span class="inline-block text-sm text-grey-40 hover:text-primary transition duration-500 ease-in-out">
                  ( 918 votes )
                </span>
              </a>
            </div>
            <div class="flex flex-col gap-1">
              <div class="flex flex-nowrap text-sm gap-4">
                <span class="inline-block h-8 py-[6px] text-grey-40">Quốc gia:</span>
                <span class="inline-block h-8 py-[6px] capitalize not-italic">Việt Nam</span>
              </div>
              <div class="flex flex-nowrap items-center text-sm gap-4">
                <span class="inline-block h-8 py-[6px] text-grey-40 flex-grow-0">Nhà sản xuất:</span>
                <span class="inline-block h-8 py-[6px] not-italic mr-2 text-grey-40">Đang cập nhật</span>
              </div>
              <div class="flex flex-nowrap items-center text-sm gap-4">
                <span class="inline-block h-8 py-[6px] text-grey-40 w-[70px] flex-grow-0">Thể loại:</span>
                <ul class="ml-2 flex flex-wrap gap-1 flex-1">
                  <li class="inline-block">
                    <a
                      class="text-black text-sm inline-flex h-8 border border-grey-20 hover:border-primary rounded-lg px-4 py-2 capitalize not-italic items-center"
                      href="/dien-anh/tinh-cam/"
                    >
                      Tình cảm
                    </a>
                  </li>
                </ul>
              </div>
              <div class="flex flex-nowrap items-center text-sm mt-2 gap-4">
                <span class="inline-block h-8 py-[6px] text-grey-40 w-[70px] flex-grow-0">Đạo diễn:</span>
                <ul class="ml-2 flex flex-wrap gap-1 flex-1">
                  <li class="inline-block">
                    <a
                      class="text-black text-sm inline-flex h-8 border border-grey-20 hover:border-primary rounded-lg px-4 py-2 capitalize not-italic items-center"
                      href="/dao-dien/nhat-trung/"
                    >
                      Nhất Trung
                    </a>
                  </li>
                </ul>
              </div>
              <div class="flex flex-nowrap items-center text-sm mt-2 gap-4">
                <span class="inline-block h-8 py-[6px] text-grey-40 w-[70px] flex-grow-0">Diễn viên:</span>
                <ul class="ml-2 flex flex-wrap gap-1 flex-1">
                  <li class="inline-block">
                    <a
                      class="text-black text-sm inline-flex h-8 border border-grey-20 hover:border-primary rounded-lg px-4 py-2 capitalize not-italic items-center"
                      href="/dien-vien/anh-tu/"
                    >
                      Anh Tú
                    </a>
                  </li>
                  <li class="inline-block">
                    <a
                      class="text-black text-sm inline-flex h-8 border border-grey-20 hover:border-primary rounded-lg px-4 py-2 capitalize not-italic items-center"
                      href="/dien-vien/dieu-nhi/"
                    >
                      Diệu Nhi
                    </a>
                  </li>
                  <li class="inline-block">
                    <a
                      class="text-black text-sm inline-flex h-8 border border-grey-20 hover:border-primary rounded-lg px-4 py-2 capitalize not-italic items-center"
                      href="/dien-vien/kieu-minh-tuan/"
                    >
                      Kiều Minh Tuấn
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="movie__info relative md:hidden grid grid-cols-1 grid-flow-row lg:items-end">
          <div class="movie__thumbnail grid grid-cols-3 gap-3 grid-flow-col">
            <img
              alt="Gặp Lại Chị Bầu"
              loading="lazy"
              width="220"
              height="280"
              decoding="async"
              data-nimg="1"
              class="border-2 rounded border-white lg:w-[320px] lg:h-[400px] md:w-full md:h-full w-[120px] h-[160px] object-fill col-span-1 duration-500 ease-in-out group-hover:opacity-100 scale-100 blur-0 grayscale-0"
              style="color: transparent"
              src="https://cdn.galaxycine.vn/media/2024/2/6/gap-lai-chi-bau-500_1707203931098.jpg"
            />
            <div class="col-span-2 flex flex-col justify-center">
              <div class="item__title flex items-center">
                <h1 class="text-[20px] md:text-[24px] lg:text-[28px] font-bold text-white mr-4">Gặp Lại Chị Bầu</h1>
                <span
                  class="inline-flex items-center justify-center w-[38px] h-7 bg-primary rounded text-sm text-center text-white font-bold not-italic"
                >
                  T13
                </span>
              </div>
              <div class="flex items-center">
                <div class="text-sm flex items-center font-semibold not-italic">
                  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" class="inline-block align-baseline mr-1">
                    <path
                      d="M7 0C3.13306 0 0 3.13306 0 7C0 10.8669 3.13306 14 7 14C10.8669 14 14 10.8669 14 7C14 3.13306 10.8669 0 7 0ZM7 12.6452C3.88105 12.6452 1.35484 10.119 1.35484 7C1.35484 3.88105 3.88105 1.35484 7 1.35484C10.119 1.35484 12.6452 3.88105 12.6452 7C12.6452 10.119 10.119 12.6452 7 12.6452ZM8.74435 9.69839L6.34798 7.95685C6.26048 7.89193 6.20968 7.79032 6.20968 7.68306V3.04839C6.20968 2.8621 6.3621 2.70968 6.54839 2.70968H7.45161C7.6379 2.70968 7.79032 2.8621 7.79032 3.04839V7.04798L9.67581 8.41976C9.82823 8.52984 9.85927 8.74153 9.74919 8.89395L9.21855 9.625C9.10847 9.7746 8.89677 9.80847 8.74435 9.69839Z"
                      fill="#F58020"
                    ></path>
                  </svg>
                  <span>114 Phút</span>
                </div>
                <div class="text-sm ml-4 flex items-center font-semibold not-italic">
                  <svg width="12" height="14" viewBox="0 0 12 14" fill="none" class="inline-block align-baseline mr-1">
                    <path
                      d="M10.7143 1.75H9.42857V0.328125C9.42857 0.147656 9.28393 0 9.10714 0H8.03571C7.85893 0 7.71429 0.147656 7.71429 0.328125V1.75H4.28571V0.328125C4.28571 0.147656 4.14107 0 3.96429 0H2.89286C2.71607 0 2.57143 0.147656 2.57143 0.328125V1.75H1.28571C0.575893 1.75 0 2.33789 0 3.0625V12.6875C0 13.4121 0.575893 14 1.28571 14H10.7143C11.4241 14 12 13.4121 12 12.6875V3.0625C12 2.33789 11.4241 1.75 10.7143 1.75ZM10.5536 12.6875H1.44643C1.35804 12.6875 1.28571 12.6137 1.28571 12.5234V4.375H10.7143V12.5234C10.7143 12.6137 10.642 12.6875 10.5536 12.6875Z"
                      fill="#F58020"
                    ></path>
                  </svg>
                  <span>30/01/2024</span>
                </div>
              </div>
              <div class="mt-2">
                <a class="text-[20px]">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="star"
                    class="svg-inline--fa fa-star text-primary mr-1"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      fill="currentColor"
                      d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                    ></path>
                  </svg>
                  <span class="inline-block mr-1">8.7</span>
                  <span class="inline-block text-sm text-grey-40">( 918 votes )</span>
                </a>
              </div>
              <div class="flex flex-nowrap text-sm">
                <span class="inline-block h-8 py-[6px] text-grey-40">Quốc gia:</span>
                <span class="inline-block h-8 ml-4 py-[6px] capitalize not-italic">Việt Nam</span>
              </div>
            </div>
          </div>
          <div>
            <div class="flex flex-col gap-1">
              <div class="flex flex-nowrap items-center text-sm">
                <span class="inline-block h-8 py-[6px] text-grey-40 flex-grow-0">Nhà sản xuất:</span>
                <span class="inline-block h-8 ml-4 py-[6px] not-italic mr-2 text-grey-40">Đang cập nhật</span>
              </div>
              <div class="flex flex-nowrap items-center text-sm">
                <span class="inline-block h-8 py-[6px] text-grey-40 w-[70px] flex-grow-0">Thể loại:</span>
                <ul class="ml-2 flex flex-wrap gap-1 flex-1">
                  <li class="inline-block">
                    <a
                      class="text-black text-sm inline-flex h-8 border border-grey-20 hover:border-primary rounded-lg px-4 py-2 capitalize not-italic items-center"
                      href="/dien-anh/tinh-cam/"
                    >
                      Tình cảm
                    </a>
                  </li>
                </ul>
              </div>
              <div class="flex flex-nowrap items-center text-sm">
                <span class="inline-block h-8 py-[6px] text-grey-40 w-[70px] flex-grow-0">Đạo diễn:</span>
                <ul class="ml-2 flex flex-wrap gap-1 flex-1">
                  <li class="inline-block">
                    <a
                      class="text-black text-sm inline-flex h-8 border border-grey-20 hover:border-primary rounded-lg px-4 py-2 capitalize not-italic items-center"
                      href="/dao-dien/nhat-trung/"
                    >
                      Nhất Trung
                    </a>
                  </li>
                </ul>
              </div>
              <div class="flex flex-nowrap items-center text-sm">
                <span class="inline-block h-8 mt-2 py-[6px] text-grey-40 w-[70px] flex-grow-0">Diễn viên:</span>
                <ul class="ml-2 flex flex-wrap gap-1 flex-1">
                  <li class="inline-block">
                    <a
                      class="text-black text-sm inline-flex h-8 border border-grey-20 hover:border-primary rounded-lg px-4 py-2 capitalize not-italic items-center"
                      href="/dien-vien/anh-tu/"
                    >
                      Anh Tú
                    </a>
                  </li>
                  <li class="inline-block">
                    <a
                      class="text-black text-sm inline-flex h-8 border border-grey-20 hover:border-primary rounded-lg px-4 py-2 capitalize not-italic items-center"
                      href="/dien-vien/dieu-nhi/"
                    >
                      Diệu Nhi
                    </a>
                  </li>
                  <li class="inline-block">
                    <a
                      class="text-black text-sm inline-flex h-8 border border-grey-20 hover:border-primary rounded-lg px-4 py-2 capitalize not-italic items-center"
                      href="/dien-vien/kieu-minh-tuan/"
                    >
                      Kiều Minh Tuấn
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="movie__content mt-3 lg:mt-0">
          <span class="border-l-4 border-solid border-gold-10 mr-2"></span>
          <h1 class="mb-4 text-base inline-block capitalize font-bold">Nội dung phim</h1>
          <div class="block__wysiwyg text-white text-sm font-normal not-italic content__data__full">
            <p>
              <span style="font-family: Arial, Helvetica, sans-serif">
                <span style="font-size: 14px">
                  Phúc (Anh Tú) là diễn viên nghiệp dư với niềm đam mê lớn dành cho diễn xuất.Thế nhưng, cuộc sống khắc
                  nghiệt khiến anh trở nên hoài nghi ước mơ mình ấp ủ. Không chỉ vậy, quá khứ thiếu vắng tình thương của
                  cha mẹ cũng ảnh hưởng sâu sắc, mãi tới khi anh gặp Huyền (Diệu Nhi).
                </span>
              </span>
            </p>

            <p>
              <span style="font-size: 14px">
                <span style="font-family: Arial, Helvetica, sans-serif">
                  <a class="text-gold-10" [routerLink]="['/phim-dang-chieu']"><em>Phim mới</em></a>
                  &nbsp;
                  <strong>Gặp Lại Chị Bầu</strong>
                  có suất chiếu sớm tại các
                  <em><a [routerLink]="['/home']">rạp chiếu phim</a></em>
                  từ 2-4.02.2024 và khởi chiếu Mùng 1 Tết 2024.
                </span>
              </span>
            </p>
          </div>
        </div>
        <div class="movie__showtime mt-10 p-5 rounded-2xl bg-white">
          <div class="movie__showtime-header">
            <span class="border-l-4 border-solid border-blue-90 mr-2"></span>
            <h1 class="mb-4 text-base inline-block capitalize font-bold text-black">Lịch chiếu</h1>
          </div>

          <nz-tabset [nzTabBarExtraContent]="extraTemplate" nzType="card">
            @for (tab of tabs; track tab) {
              <nz-tab [nzTitle]="tab.lichChieu">
                <div
                  class="showtime__cinema text-black-10 md:py-8 py-4 px-3 rounded odd:bg-white even:bg-[#FDFBFA] even:border-t even:border-b"
                >
                  <h1 class="text-base text-black-10 font-bold mb-4">{{ tab.rap }}</h1>
                  <div class="showtime__bundle flex md:flex-row flex-col gap-2 items-start mb-6">
                    <label class="text-sm font-semibold mt-2 w-[150px]">{{ tab.phong }}</label>
                    <div class="time__show flex flex-1 flex-row gap-x-3 gap-y-1 flex-wrap">
                      <button
                        class="py-2 md:px-8 px-6 border rounded text-sm font-normal text-black hover:bg-blue-90 active:bg-gold-10 transition-all duration-500 ease-in-out hover:text-white"
                      >
                        {{ tab.gioChieu }}
                      </button>
                    </div>
                  </div>
                </div>
              </nz-tab>
            }
          </nz-tabset>
          <ng-template #extraTemplate>
            <nz-select [(ngModel)]="selectedProvince" [nzOptions]="listOfProvince"></nz-select>
            <nz-select ngModel="tatCaRap">
              <nz-option nzValue="quangTrung" nzLabel="N95 Quang Trung"></nz-option>
              <nz-option nzValue="leVanViet" nzLabel="N95 Lê Văn Việt"></nz-option>
              <nz-option nzValue="tatCaRap" nzLabel="Tất cả rạp"></nz-option>
            </nz-select>
          </ng-template>
        </div>
      </div>

      <div class="movie__content my-10" id="target">
        <span class="border-l-4 border-solid border-gold-10 mr-2"></span>
        <h1 class="mb-4 text-lg inline-block uppercase font-medium">Đánh giá phim</h1>
        <div class="grid grid-cols-1 items-center">
          <div class="flex flex-col grow col-span-3">
            <div class="flex md:justify-between justify-center items-start">
              <div class="star-rating transition-all duration-300 ease-in-out block">
                <div class="star-container">
                  <span class="star">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      id="Layer_1"
                      x="0px"
                      y="0px"
                      viewBox="0 0 50 50"
                      width="24"
                      height="24"
                      class="inline-block"
                    >
                      <path
                        fill="#A0A3A7"
                        d="M15.868,28.234l-2.33,9.757c-0.094,0.391,0.057,0.8,0.38,1.038c0.324,0.237,0.757,0.26,1.104,0.054  l8.762-5.203l8.758,5.203c0.158,0.094,0.335,0.141,0.511,0.141c0.209,0,0.417-0.065,0.593-0.194c0.323-0.238,0.474-0.647,0.38-1.038  l-2.33-9.757l7.734-6.554c0.309-0.261,0.43-0.683,0.306-1.068c-0.123-0.385-0.467-0.658-0.87-0.691L28.665,19.08l-3.963-9.25  c-0.157-0.368-0.519-0.606-0.919-0.606s-0.762,0.238-0.919,0.606l-3.966,9.25L8.7,19.921c-0.403,0.033-0.747,0.306-0.87,0.691  c-0.124,0.385-0.003,0.807,0.306,1.068L15.868,28.234z M19.662,21.023c0.369-0.03,0.691-0.262,0.837-0.603l3.284-7.659l3.28,7.658  c0.146,0.341,0.468,0.573,0.837,0.603l8.394,0.692l-6.361,5.391c-0.288,0.243-0.414,0.628-0.326,0.995l1.924,8.055l-7.236-4.299  c-0.314-0.188-0.707-0.188-1.021,0l-7.24,4.3l1.924-8.056c0.088-0.367-0.038-0.752-0.326-0.995l-6.359-5.391L19.662,21.023z"
                      ></path>
                    </svg>
                  </span>
                  <span class="star">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      id="Layer_1"
                      x="0px"
                      y="0px"
                      viewBox="0 0 50 50"
                      width="24"
                      height="24"
                      class="inline-block"
                    >
                      <path
                        fill="#A0A3A7"
                        d="M15.868,28.234l-2.33,9.757c-0.094,0.391,0.057,0.8,0.38,1.038c0.324,0.237,0.757,0.26,1.104,0.054  l8.762-5.203l8.758,5.203c0.158,0.094,0.335,0.141,0.511,0.141c0.209,0,0.417-0.065,0.593-0.194c0.323-0.238,0.474-0.647,0.38-1.038  l-2.33-9.757l7.734-6.554c0.309-0.261,0.43-0.683,0.306-1.068c-0.123-0.385-0.467-0.658-0.87-0.691L28.665,19.08l-3.963-9.25  c-0.157-0.368-0.519-0.606-0.919-0.606s-0.762,0.238-0.919,0.606l-3.966,9.25L8.7,19.921c-0.403,0.033-0.747,0.306-0.87,0.691  c-0.124,0.385-0.003,0.807,0.306,1.068L15.868,28.234z M19.662,21.023c0.369-0.03,0.691-0.262,0.837-0.603l3.284-7.659l3.28,7.658  c0.146,0.341,0.468,0.573,0.837,0.603l8.394,0.692l-6.361,5.391c-0.288,0.243-0.414,0.628-0.326,0.995l1.924,8.055l-7.236-4.299  c-0.314-0.188-0.707-0.188-1.021,0l-7.24,4.3l1.924-8.056c0.088-0.367-0.038-0.752-0.326-0.995l-6.359-5.391L19.662,21.023z"
                      ></path>
                    </svg>
                  </span>
                  <span class="star">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      id="Layer_1"
                      x="0px"
                      y="0px"
                      viewBox="0 0 50 50"
                      width="24"
                      height="24"
                      class="inline-block"
                    >
                      <path
                        fill="#A0A3A7"
                        d="M15.868,28.234l-2.33,9.757c-0.094,0.391,0.057,0.8,0.38,1.038c0.324,0.237,0.757,0.26,1.104,0.054  l8.762-5.203l8.758,5.203c0.158,0.094,0.335,0.141,0.511,0.141c0.209,0,0.417-0.065,0.593-0.194c0.323-0.238,0.474-0.647,0.38-1.038  l-2.33-9.757l7.734-6.554c0.309-0.261,0.43-0.683,0.306-1.068c-0.123-0.385-0.467-0.658-0.87-0.691L28.665,19.08l-3.963-9.25  c-0.157-0.368-0.519-0.606-0.919-0.606s-0.762,0.238-0.919,0.606l-3.966,9.25L8.7,19.921c-0.403,0.033-0.747,0.306-0.87,0.691  c-0.124,0.385-0.003,0.807,0.306,1.068L15.868,28.234z M19.662,21.023c0.369-0.03,0.691-0.262,0.837-0.603l3.284-7.659l3.28,7.658  c0.146,0.341,0.468,0.573,0.837,0.603l8.394,0.692l-6.361,5.391c-0.288,0.243-0.414,0.628-0.326,0.995l1.924,8.055l-7.236-4.299  c-0.314-0.188-0.707-0.188-1.021,0l-7.24,4.3l1.924-8.056c0.088-0.367-0.038-0.752-0.326-0.995l-6.359-5.391L19.662,21.023z"
                      ></path>
                    </svg>
                  </span>
                  <span class="star">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      id="Layer_1"
                      x="0px"
                      y="0px"
                      viewBox="0 0 50 50"
                      width="24"
                      height="24"
                      class="inline-block"
                    >
                      <path
                        fill="#A0A3A7"
                        d="M15.868,28.234l-2.33,9.757c-0.094,0.391,0.057,0.8,0.38,1.038c0.324,0.237,0.757,0.26,1.104,0.054  l8.762-5.203l8.758,5.203c0.158,0.094,0.335,0.141,0.511,0.141c0.209,0,0.417-0.065,0.593-0.194c0.323-0.238,0.474-0.647,0.38-1.038  l-2.33-9.757l7.734-6.554c0.309-0.261,0.43-0.683,0.306-1.068c-0.123-0.385-0.467-0.658-0.87-0.691L28.665,19.08l-3.963-9.25  c-0.157-0.368-0.519-0.606-0.919-0.606s-0.762,0.238-0.919,0.606l-3.966,9.25L8.7,19.921c-0.403,0.033-0.747,0.306-0.87,0.691  c-0.124,0.385-0.003,0.807,0.306,1.068L15.868,28.234z M19.662,21.023c0.369-0.03,0.691-0.262,0.837-0.603l3.284-7.659l3.28,7.658  c0.146,0.341,0.468,0.573,0.837,0.603l8.394,0.692l-6.361,5.391c-0.288,0.243-0.414,0.628-0.326,0.995l1.924,8.055l-7.236-4.299  c-0.314-0.188-0.707-0.188-1.021,0l-7.24,4.3l1.924-8.056c0.088-0.367-0.038-0.752-0.326-0.995l-6.359-5.391L19.662,21.023z"
                      ></path>
                    </svg>
                  </span>
                  <span class="star">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      version="1.1"
                      id="Layer_1"
                      x="0px"
                      y="0px"
                      viewBox="0 0 50 50"
                      width="24"
                      height="24"
                      class="inline-block"
                    >
                      <path
                        fill="#A0A3A7"
                        d="M15.868,28.234l-2.33,9.757c-0.094,0.391,0.057,0.8,0.38,1.038c0.324,0.237,0.757,0.26,1.104,0.054  l8.762-5.203l8.758,5.203c0.158,0.094,0.335,0.141,0.511,0.141c0.209,0,0.417-0.065,0.593-0.194c0.323-0.238,0.474-0.647,0.38-1.038  l-2.33-9.757l7.734-6.554c0.309-0.261,0.43-0.683,0.306-1.068c-0.123-0.385-0.467-0.658-0.87-0.691L28.665,19.08l-3.963-9.25  c-0.157-0.368-0.519-0.606-0.919-0.606s-0.762,0.238-0.919,0.606l-3.966,9.25L8.7,19.921c-0.403,0.033-0.747,0.306-0.87,0.691  c-0.124,0.385-0.003,0.807,0.306,1.068L15.868,28.234z M19.662,21.023c0.369-0.03,0.691-0.262,0.837-0.603l3.284-7.659l3.28,7.658  c0.146,0.341,0.468,0.573,0.837,0.603l8.394,0.692l-6.361,5.391c-0.288,0.243-0.414,0.628-0.326,0.995l1.924,8.055l-7.236-4.299  c-0.314-0.188-0.707-0.188-1.021,0l-7.24,4.3l1.924-8.056c0.088-0.367-0.038-0.752-0.326-0.995l-6.359-5.391L19.662,21.023z"
                      ></path>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
            <textarea
              class="p-3 border rounded focus:outline-none text-sm mt-3 resize-y text-black"
              placeholder="Thêm đánh giá"
              cols="10"
              rows="3"
            ></textarea>
            <a
              class="button-text-white block mt-4 text-sm px-4 py-2 rounded bg-primary hover:bg-primary-10 capitalize cursor-pointer transition duration-500 ease-in-out text-center"
            >
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="pen-to-square"
                class="svg-inline--fa fa-pen-to-square mr-1"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  fill="currentColor"
                  d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"
                ></path>
              </svg>
              Gửi đánh giá
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="hidden screen1200:block lg:col-span-2 w-full overflow-hidden">
      <div class="mb-4">
        <span class="border-l-4 border-solid border-gold-10 mr-2"></span>
        <h1 class="text-xl inline-block uppercase font-semibold">Phim đang chiếu</h1>
      </div>
      <div class="movie__content">
        <ul class="flex flex-col justify-between">
          <li class="text-sm text-black py-1 transition-all duration-300">
            <div class="inline-block whitespace-nowrap relative max-w-full w-[400px] h-[250px]">
              <div class="inline-block cursor-pointer rounded overflow-hidden card__movies max-w-full false">
                <div class="object-cover rounded relative card__img max-w-full">
                  <div
                    class="absolute hidden md:block w-full h-full z-10 cursor-pointer bg-[#00000080] transition-all duration-300 ease-in-out opacity-0 hover:opacity-100"
                  >
                    <div class="card__hover__content flex flex-col justify-center items-center w-full h-full">
                      <a
                        type="button"
                        class="button-text-white bg-primary w-[120px] h-[40px] hover:bg-primary-10 rounded text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-primary-10 dark:focus:ring-primary-10"
                      >
                        <img
                          alt="Logo Buy Ticket"
                          width="20"
                          height="20"
                          class="mr-2"
                          src="/assets/svgs/buy-ticket.svg"
                          style="color: transparent"
                        />
                        Mua vé
                      </a>
                    </div>
                  </div>
                  <a href="/dat-ve/sang-den/">
                    <img
                      alt="sang-den"
                      loading="lazy"
                      width="400"
                      height="250"
                      decoding="async"
                      data-nimg="1"
                      class="undefined object-cover duration-500 ease-in-out group-hover:opacity-100 scale-100 blur-0 grayscale-0"
                      src="https://cdn.galaxycine.vn/media/2024/3/15/sang-den-2_1710487886610.jpg"
                      style="color: transparent"
                    />
                  </a>
                  <div class="votes">
                    <p class="absolute right-[5px] bottom-10">
                      <span>
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          data-prefix="fas"
                          data-icon="star"
                          class="svg-inline--fa fa-star text-yellow-300 mr-5 text-[12px]"
                          role="img"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 576 512"
                        >
                          <path
                            fill="currentColor"
                            d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                          ></path>
                        </svg>
                      </span>
                      <span class="text-[18px] font-bold text-white">8.4</span>
                    </p>
                  </div>
                  <div class="age__limit absolute bottom-[6px] right-[6px]">
                    <span class="bg-primary px-1 py-[2px] text-sm text-white font-bold not-italic rounded">K</span>
                  </div>
                </div>
              </div>
              <div class="Card_card__title__kFoFc mt-2 text-white" style="width: 400px">
                <a type="button" class="text-sm font-semibold not-italic w-[400px]" href="/dat-ve/sang-den/">
                  Sáng Đèn
                </a>
              </div>
            </div>
          </li>
          <li class="text-sm text-black py-1 transition-all duration-300">
            <div class="inline-block whitespace-nowrap relative max-w-full w-[400px] h-[250px]">
              <div class="inline-block cursor-pointer rounded overflow-hidden card__movies max-w-full false">
                <div class="object-cover rounded relative card__img max-w-full">
                  <div
                    class="absolute hidden md:block w-full h-full z-10 cursor-pointer bg-[#00000080] transition-all duration-300 ease-in-out opacity-0 hover:opacity-100"
                  >
                    <div class="card__hover__content flex flex-col justify-center items-center w-full h-full">
                      <a
                        type="button"
                        class="button-text-white bg-primary w-[120px] h-[40px] hover:bg-primary-10 rounded text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-primary-10 dark:focus:ring-prbg-primary-10"
                      >
                        <img
                          alt="Logo Buy Ticket"
                          loading="lazy"
                          width="20"
                          height="20"
                          decoding="async"
                          data-nimg="1"
                          class="mr-2"
                          src="/assets/svgs/buy-ticket.svg"
                          style="color: transparent"
                        />
                        Mua vé
                      </a>
                    </div>
                  </div>
                  <a href="/dat-ve/exhuma/">
                    <img
                      alt="exhuma"
                      loading="lazy"
                      width="400"
                      height="250"
                      decoding="async"
                      data-nimg="1"
                      class="undefined object-cover duration-500 ease-in-out group-hover:opacity-100 scale-100 blur-0 grayscale-0)"
                      src="https://cdn.galaxycine.vn/media/2024/3/15/750_1710489848913.jpg"
                      style="color: transparent"
                    />
                  </a>
                  <div class="votes">
                    <p class="absolute right-[5px] bottom-10">
                      <span>
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          data-prefix="fas"
                          data-icon="star"
                          class="svg-inline--fa fa-star text-yellow-300 mr-5 text-[12px]"
                          role="img"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 576 512"
                        >
                          <path
                            fill="currentColor"
                            d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                          ></path>
                        </svg>
                      </span>
                      <span class="text-[18px] font-bold text-white">9.3</span>
                    </p>
                  </div>
                  <div class="age__limit absolute bottom-[6px] right-[6px]">
                    <span class="bg-primary px-1 py-[2px] text-sm text-white font-bold not-italic rounded">T16</span>
                  </div>
                </div>
              </div>
              <div class="Card_card__title__kFoFc mt-2 text-white" style="width: 400px">
                <a type="button" class="text-sm font-semibold not-italic w-[400px]" href="/dat-ve/exhuma/">
                  Exhuma: Quật Mộ Trùng Ma
                </a>
              </div>
            </div>
          </li>
          <li class="text-sm text-black py-1 transition-all duration-300">
            <div class="inline-block whitespace-nowrap relative max-w-full w-[400px] h-[250px]">
              <div class="inline-block cursor-pointer rounded overflow-hidden card__movies max-w-full false">
                <div class="object-cover rounded relative card__img max-w-full">
                  <div
                    class="absolute hidden md:block w-full h-full z-10 cursor-pointer bg-[#00000080] transition-all duration-300 ease-in-out opacity-0 hover:opacity-100"
                  >
                    <div class="card__hover__content flex flex-col justify-center items-center w-full h-full">
                      <a
                        type="button"
                        class="button-text-white bg-primary w-[120px] h-[40px] hover:bg-primary-10 rounded text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-primary-10 dark:focus:ring-primary-10"
                      >
                        <img
                          alt="Logo Buy Ticket"
                          loading="lazy"
                          width="20"
                          height="20"
                          decoding="async"
                          data-nimg="1"
                          class="mr-2"
                          src="/assets/svgs/buy-ticket.svg"
                          style="color: transparent"
                        />
                        Mua vé
                      </a>
                    </div>
                  </div>
                  <a href="/dat-ve/kung-fu-panda-4/">
                    <img
                      alt="kung-fu-panda-4"
                      loading="lazy"
                      width="400"
                      height="250"
                      decoding="async"
                      data-nimg="1"
                      class="undefined object-cover duration-500 ease-in-out group-hover:opacity-100 scale-100 blur-0 grayscale-0)"
                      src="https://cdn.galaxycine.vn/media/2024/2/23/kungfu-panda-4-750_1708659196070.jpg"
                      style="color: transparent"
                    />
                  </a>
                  <div class="votes">
                    <p class="absolute right-[5px] bottom-10">
                      <span>
                        <svg
                          aria-hidden="true"
                          focusable="false"
                          data-prefix="fas"
                          data-icon="star"
                          class="svg-inline--fa fa-star text-yellow-300 mr-5 text-[12px]"
                          role="img"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 576 512"
                        >
                          <path
                            fill="currentColor"
                            d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"
                          ></path>
                        </svg>
                      </span>
                      <span class="text-[18px] font-bold text-white">9.1</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="Card_card__title__kFoFc mt-2 text-white" style="width: 400px">
                <a type="button" class="text-sm font-semibold not-italic w-[400px]" href="/dat-ve/kung-fu-panda-4/">
                  Kung Fu Panda 4
                </a>
              </div>
            </div>
          </li>
        </ul>
        <div class="text-end">
          <a
            type="button"
            class="button-readmore w-40 border border-primary hover:bg-primary transition-all duration-300 focus:ring-1 focus:outline-none focus:ring-primary rounded text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-primary dark:focus:ring-primary mr-2 mb-2 justify-center"
            href="/phim-dang-chieu/"
          >
            Xem thêm
            <svg
              aria-hidden="true"
              focusable="false"
              data-prefix="fas"
              data-icon="angle-right"
              class="svg-inline--fa fa-angle-right ml-2"
              role="img"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 320 512"
            >
              <path
                fill="currentColor"
                d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer />

<router-outlet />
