<!-- <div class="advertise bg-[url('src/assets/svgs/bg-icon.svg')] h-full md:block hidden">
  <div class="advertise__wrap my-0 mx-auto py-12 screen1390:max-w-screen-xl xl:max-w-screen-screen1200 lg:max-w-6xl">
    <div class="advertise__container grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 xl:grid-cols-2 gap-6">
      <div class="advertise__left my-o mx-auto relative z-20 md:block hidden">
        <img
          alt="img-iphone"
          loading="lazy"
          width="200"
          height="409"
          decoding="async"
          data-nimg="1"
          class="img-atr relative z-50"
          style="color: transparent"
          src="/_next/static/media/Frame-iphone-x.78ef1223.svg"
        />
        <div class="absolute z-1 top-[2%] left-[5%]">
          <div class="carousel carousel__custom">
            <div
              class="horizontalSlider___281Ls carousel__slider carousel__slider--horizontal"
              aria-live="polite"
              aria-label="slider"
              tabindex="0"
              role="listbox"
            >
              <div class="carousel__slider-tray-wrapper carousel__slider-tray-wrap--horizontal">
                <div
                  class="sliderTray___-vHFQ sliderAnimation___300FY carousel__slider-tray carousel__slider-tray--horizontal"
                  style="
                    display: flex;
                    align-items: stretch;
                    width: 400%;
                    transform: translateX(-50%) translateX(0px);
                    flex-direction: row;
                  "
                >
                  <div
                    tabindex="-1"
                    aria-selected="false"
                    aria-label="slide"
                    role="option"
                    class="slide___3-Nqo slideHorizontal___1NzNV carousel__slide carousel__slide--hidden"
                    style="width: 25%; padding-bottom: unset; height: unset"
                  >
                    <div class="slideInner___2mfX9 carousel__inner-slide" style="position: unset">
                      <img
                        alt="Splash"
                        loading="lazy"
                        width="180"
                        height="390"
                        decoding="async"
                        data-nimg="1"
                        style="color: transparent"
                        src="/_next/static/media/Splash.de33f19c.png"
                      />
                    </div>
                  </div>
                  <div
                    tabindex="-1"
                    aria-selected="false"
                    aria-label="slide"
                    role="option"
                    class="slide___3-Nqo slideHorizontal___1NzNV carousel__slide carousel__slide--hidden"
                    style="width: 25%; padding-bottom: unset; height: unset"
                  >
                    <div class="slideInner___2mfX9 carousel__inner-slide" style="position: unset">
                      <img
                        alt="Screen"
                        loading="lazy"
                        width="182"
                        height="391"
                        decoding="async"
                        data-nimg="1"
                        style="color: transparent"
                        src="/_next/static/media/screen-slider-iphone.3339b3ed.png"
                      />
                    </div>
                  </div>
                  <div
                    tabindex="0"
                    aria-selected="true"
                    aria-label="slide"
                    role="option"
                    class="slide___3-Nqo slideHorizontal___1NzNV carousel__slide carousel__slide--visible"
                    style="width: 25%; padding-bottom: unset; height: unset"
                  >
                    <div class="slideInner___2mfX9 carousel__inner-slide" style="position: unset">
                      <img
                        alt="Profile"
                        loading="lazy"
                        width="180"
                        height="390"
                        decoding="async"
                        data-nimg="1"
                        style="color: transparent"
                        src="/_next/static/media/Profile.767d60ee.png"
                      />
                    </div>
                  </div>
                  <div
                    tabindex="-1"
                    aria-selected="false"
                    aria-label="slide"
                    role="option"
                    class="slide___3-Nqo slideHorizontal___1NzNV carousel__slide carousel__slide--hidden"
                    style="width: 25%; padding-bottom: unset; height: unset"
                  >
                    <div class="slideInner___2mfX9 carousel__inner-slide" style="position: unset">
                      <img
                        alt="Detail"
                        loading="lazy"
                        width="180"
                        height="390"
                        decoding="async"
                        data-nimg="1"
                        style="color: transparent"
                        src="/_next/static/media/MovieDetail.52d031b0.png"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="advertise__right flex items-center px-7">
        <div class="advertise__right__content">
          <h1 class="text-3xl text-white mb-4">Đặt Vé Online - Không Lo Trễ Nải</h1>
          <p class="text-sm text-white mb-5">
            Ghét đông đúc ồn ào? Lười xếp hàng mua vé? Hãy quên đi cách mua vé giấy truyền thống tốn thời gian hay xếp
            hàng lấy vé online phiền toái.
          </p>
          <div class="app__qr flex items-end">
            <span class="qr__code">
              <img
                alt="Icon QR"
                loading="lazy"
                width="150"
                height="150"
                decoding="async"
                data-nimg="1"
                style="color: transparent"
                src="/_next/static/media/glx-qr-code-1.218ae7da.svg"
              />
            </span>
            <span class="text-white text-sm m-4 font-light"><i>OR</i></span>
            <ul class="list-none">
              <li class="inline-block">
                <a class="inline-block" target="_blank" href="https://apps.apple.com/vn/app/id593312549">
                  <img
                    alt="Icon App Store"
                    loading="lazy"
                    width="140"
                    height="120"
                    decoding="async"
                    data-nimg="1"
                    class="w-auto h-auto"
                    style="color: transparent"
                    src="/_next/static/media/icon-ios-app-store.65ed00df.svg"
                  />
                </a>
              </li>
              <li class="inline-block ml-1">
                <a
                  class="inline-block"
                  target="_blank"
                  href="https://play.google.com/store/apps/details?id=com.galaxy.cinema&amp;hl=vi"
                >
                  <img
                    alt="Icon Google App Store"
                    loading="lazy"
                    width="150"
                    height="140"
                    decoding="async"
                    data-nimg="1"
                    class="w-auto h-auto"
                    style="color: transparent"
                    src="/_next/static/media/icon-google-app-store.f4c38402.svg"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
