<app-sidebar-menu>
  <nz-layout>
    <app-header-admin />

    <nz-content>
      <div class="flex justify-between">
        <h2 class="text-black text-lg">Quản lý Lịch chiếu</h2>
        <nz-breadcrumb>
          <nz-breadcrumb-item>User</nz-breadcrumb-item>
          <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
        </nz-breadcrumb>
      </div>
      <div class="inner-content">
        <div class="flex justify-between mb-12">
          <div>
            <span class="font-semibold text-base">Tên Phim</span>
            <input nz-input placeholder="Nhập tên phim..." nzSize="default" class="w-[200px] ml-2" />
            <button class="ml-2" nz-button nzSize="default" nzType="primary">Tìm kiếm</button>
          </div>
          <div>
            <button nz-button nzSize="default" nzType="primary">Thêm mới</button>
            <button class="ml-2" nz-button nzSize="default" nzType="primary" nzDanger>Xóa</button>
          </div>
        </div>
        <nz-table nzShowPagination nzShowSizeChanger #basicTable [nzData]="listOfData" nzTableLayout="fixed">
          <thead>
            <tr>
              <th
                scope="col"
                [nzWidth]="'100px'"
                [nzChecked]="true"
                [nzIndeterminate]="false"
                nzLabel="Select all"
                (nzCheckedChange)="onAllChecked($event)"
              ></th>
              @for (column of listOfColumns; track trackByName) {
                <th
                  scope="col"
                  [(nzSortOrder)]="column.sortOrder"
                  [nzSortFn]="column.sortFn"
                  [nzSortDirections]="['', 'descend']"
                  [nzFilters]="column.listOfFilter"
                  [nzFilterFn]="column.filterFn"
                >
                  {{ column.name }}
                </th>
              }
            </tr>
          </thead>
          <tbody>
            @for (data of basicTable.data; track i; let i = $index) {
              <tr>
                <td [nzChecked]="true" [nzLabel]="data.name"></td>
                <td>{{ data.name }}</td>
                <td>{{ data.age }}</td>
                <td>{{ data.address }}</td>
              </tr>
            }
          </tbody>
        </nz-table>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</app-sidebar-menu>

<router-outlet></router-outlet>
