<header>
  <nav class="navbar">
    <div class="navbar-left">
      <div class="app-logo">
        <a routerLink="">N95 Cinema</a>
      </div>

      <ul class="navbar__list ml-8">
        <li class="navbar__list-item"><a routerLink="/Phim">Phim</a></li>
        <li class="navbar__list-item"><a href="#">Rạp</a></li>
        <li class="navbar__list-item"><a href="#">Thành viên</a></li>
        <li class="navbar__list-item"><a href="#">Hỗ trợ</a></li>
        <li class="navbar__list-item"><a href="/admin">Minda</a></li>
      </ul>
    </div>
    <div class="navbar-right">
      <div class="account">
        @if (!isAuthenticated) {
          <div class="account_selection">
            <a class="account_selection__login" routerLink="/login">
              <i class="fa fa-sign-in m-1" aria-hidden="true"></i>
              Sign In
            </a>

            <a class="account_selection__register" href="/register">
              <i class="fa fa-user-plus m-1" aria-hidden="true"></i>
              Register
            </a>
          </div>
        } @else {
          <div
            nz-popover
            [nzPopoverTitle]="titleTemplate"
            [nzPopoverContent]="contentTemplate"
            class="flex items-center gap-2"
          >
            <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
            <h3 class="hover:text-gold-10 font-semibold">Nguyễn Văn A</h3>
          </div>
          <ng-template #titleTemplate>
            <a routerLink="/profile" class="text-black hover:text-gold-10">
              <i class="fa fa-user mr-1" aria-hidden="true"></i>
              Profile
            </a>
          </ng-template>
          <ng-template #contentTemplate>
            <a href="/" class="text-black hover:text-gold-10">
              <i class="fa fa-sign-out mr-1" aria-hidden="true"></i>
              Logout
            </a>
          </ng-template>
        }
      </div>

      <button class="search-btn">
        <i class="ti-search search-btn__icon"></i>
      </button>
    </div>
  </nav>
</header>
