<div
  class="my-0 mx-auto py-8 md:py-12 screen1390:max-w-screen-xl xl:max-w-screen-screen1200 lg:max-w-4xl md:max-w-4xl md:px-4 sm:px-[45px] px-[16px]"
>
  <div class="md:text-center transition-all duration-300">
    <div class="flex items-center w-full justify-between mb-10">
      <div class="flex items-center">
        <div class="hidden md:block">
          <span class="border-l-4 border-solid border-[#034ea2] mr-2"></span>
          <h1 class="mr-10 text-xl font-bold uppercase not-italic inline">Góc điện ảnh</h1>
        </div>
        <div class="flex flex-wrap">
          <ul class="flex mb-0 list-none flex-wrap flex-row" role="tablist">
            <li
              class="-mb-px mr-6 md:mr-8 last:mr-0 flex-auto text-center transition-all duration-300 cursor-pointer ease-in-out relative"
            >
              <span
                class="text-base font-bold not-italic block leading-normal text-white hover:text-primary-10 transition-all duration-300 ease-in-out tab__active opacity-100"
                data-toggle="tab"
                role="tablist"
              >
                Bình luận phim
              </span>
            </li>
            <li
              class="-mb-px mr-6 md:mr-8 last:mr-0 flex-auto text-center transition-all duration-300 cursor-pointer ease-in-out relative"
            >
              <span
                class="text-base font-bold not-italic block leading-normal text-white hover:text-primary-10 transition-all duration-300 ease-in-out opacity-50"
                data-toggle="tab"
                role="tablist"
              >
                Blog điện ảnh
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mt-8">
      <div class="grid md:grid-cols-2 md:gap-x-6 gap-4">
        <article class="flex flex-col gap-y-4">
          <aside class="max-h-[476px] group transition-all duration-300 ease-in-out md:hover:text-blue-10">
            <a href="/binh-luan-phim/review-exhuma-quat-mo-trung-ma-bom-tan-han-quoc-dang-xem-nhat-2024/">
              <img
                alt="[Review] Exhuma Quật Mộ Trùng Ma: Bom Tấn Hàn Quốc Đáng Xem Nhất 2024?"
                loading="lazy"
                width="445"
                height="300"
                decoding="async"
                data-nimg="1"
                class="rounded-lg md:rounded md:w-full w-full h-[232px] md:h-[215px] lg:h-[300px] xl:h-full max-h-[400px] group-hover:md:scale-105 transition-all duration-300 object-cover object-cover duration-500 ease-in-out group-hover:opacity-100&quot; scale-100 blur-0 grayscale-0)"
                src="https://www.galaxycine.vn/media/2024/3/15/exhuma-quat-mo-trung-ma-bom-tan-han-quoc-dang-xem-nhat-2024-1_1710489299840.jpeg"
                style="color: transparent"
              />
            </a>
            <aside class="descriptions text-left mt-4 md:mt-7">
              <a
                class="text-xl font-bold md:hover:text-blue-10 transition-all duration-300 overflow-hidden"
                href="/binh-luan-phim/review-exhuma-quat-mo-trung-ma-bom-tan-han-quoc-dang-xem-nhat-2024/"
              >
                [Review] Exhuma Quật Mộ Trùng Ma: Bom Tấn Hàn Quốc Đáng Xem Nhất 2024?
              </a>
              <div class="card__votes flex mt-2">
                <button
                  type="button"
                  class="h-[20px] text-xs text-white hover:text-white mr-2 bg-blue-40 hover:bg-blue-800 focus:ring-1 focus:ring-blue-300 rounded px-3"
                >
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="thumbs-up"
                    class="svg-inline--fa fa-thumbs-up"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2H464c26.5 0 48 21.5 48 48c0 18.5-10.5 34.6-25.9 42.6C497 275.4 504 288.9 504 304c0 23.4-16.8 42.9-38.9 47.1c4.4 7.3 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48H294.5c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3V320 272 247.1c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192H96c17.7 0 32 14.3 32 32V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V224c0-17.7 14.3-32 32-32z"
                    ></path>
                  </svg>
                  Thích
                </button>
                <button class="text-xs text-black-10 bg-grey-30 h-[20px] rounded mr-2 px-3 hover:text-black-10">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="eye"
                    class="svg-inline--fa fa-eye"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      fill="currentColor"
                      d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                    ></path>
                  </svg>
                  1734
                </button>
              </div>
            </aside>
          </aside>
        </article>
        <article class="flex flex-col gap-y-4">
          <aside
            class="flex gap-x-2 w-full max-h-[80px] md:max-h-[150px] group transition-all duration-300 ease-in-out md:hover:text-blue-10"
          >
            <a
              class="w-[30%] md:w-[35%]"
              href="/binh-luan-phim/review-kung-fu-panda-4-gau-truc-po-vat-va-tim-nguoi-ke-nghiep/"
            >
              <img
                alt='[Review] Kung Fu Panda 4: Gấu Trúc Po "Vật Vã" Tìm Người Kế Nghiệp!'
                loading="lazy"
                width="195"
                height="150"
                decoding="async"
                data-nimg="1"
                class="rounded-lg md:rounded md:w-[195px] md:h-full w-[120px] h-[75px] group-hover:md:scale-105 transition-all duration-300 object-cover object-cover duration-500 ease-in-out group-hover:opacity-100&quot; scale-100 blur-0 grayscale-0)"
                src="https://www.galaxycine.vn/media/2024/3/12/kung-fu-panda-4-gau-truc-po-vat-va-tim-nguoi-ke-nghiep-6_1710236694045.jpg"
                style="color: transparent"
              />
            </a>
            <aside
              class="descriptions title__movie text-left w-[70%] md:w-[65%]"
              style="margin-top: 0px; line-height: 120%"
            >
              <a
                class="text-sm md:text-base xl:text-xl font-normal md:font-bold hover:text-blue-10 transition-all duration-300 overflow-hidden leading-normal"
                href="/binh-luan-phim/review-kung-fu-panda-4-gau-truc-po-vat-va-tim-nguoi-ke-nghiep/"
              >
                [Review] Kung Fu Panda 4: Gấu Trúc Po "Vật Vã" Tìm Người Kế Nghiệp!
              </a>
              <div class="card__votes flex mt-2">
                <button
                  type="button"
                  class="h-[20px] text-xs text-white hover:text-white mr-2 bg-blue-40 hover:bg-blue-800 focus:ring-1 focus:ring-blue-300 rounded px-3"
                >
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="thumbs-up"
                    class="svg-inline--fa fa-thumbs-up"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2H464c26.5 0 48 21.5 48 48c0 18.5-10.5 34.6-25.9 42.6C497 275.4 504 288.9 504 304c0 23.4-16.8 42.9-38.9 47.1c4.4 7.3 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48H294.5c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3V320 272 247.1c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192H96c17.7 0 32 14.3 32 32V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V224c0-17.7 14.3-32 32-32z"
                    ></path>
                  </svg>
                  Thích
                </button>
                <button class="text-xs text-black-10 bg-grey-30 h-[20px] rounded mr-2 px-3 hover:text-black-10">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="eye"
                    class="svg-inline--fa fa-eye"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      fill="currentColor"
                      d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                    ></path>
                  </svg>
                  714
                </button>
              </div>
            </aside>
          </aside>
          <aside
            class="flex gap-x-2 w-full max-h-[80px] md:max-h-[150px] group transition-all duration-300 ease-in-out md:hover:text-blue-10"
          >
            <a
              class="w-[30%] md:w-[35%]"
              href="/binh-luan-phim/review-dune-hanh-tinh-cat-phan-hai-bo-phim-su-thi-hay-nhat-trong-10-nam-qua/"
            >
              <img
                alt="[Review] Dune Part Two: Bộ Phim Sử Thi Hay Nhất Trong 10 Năm Qua?"
                loading="lazy"
                width="195"
                height="150"
                decoding="async"
                data-nimg="1"
                class="rounded-lg md:rounded md:w-[195px] md:h-full w-[120px] h-[75px] group-hover:md:scale-105 transition-all duration-300 object-cover object-cover duration-500 ease-in-out group-hover:opacity-100&quot; scale-100 blur-0 grayscale-0)"
                src="https://www.galaxycine.vn/media/2024/3/5/review-dune-2-750_1709614144537.jpg"
                style="color: transparent"
              />
            </a>
            <aside
              class="descriptions title__movie text-left w-[70%] md:w-[65%]"
              style="margin-top: 0px; line-height: 120%"
            >
              <a
                class="text-sm md:text-base xl:text-xl font-normal md:font-bold hover:text-blue-10 transition-all duration-300 overflow-hidden leading-normal"
                href="/binh-luan-phim/review-dune-hanh-tinh-cat-phan-hai-bo-phim-su-thi-hay-nhat-trong-10-nam-qua/"
              >
                [Review] Dune Part Two: Bộ Phim Sử Thi Hay Nhất Trong 10 Năm Qua?
              </a>
              <div class="card__votes flex mt-2">
                <button
                  type="button"
                  class="h-[20px] text-xs text-white hover:text-white mr-2 bg-blue-40 hover:bg-blue-800 focus:ring-1 focus:ring-blue-300 rounded px-3"
                >
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="thumbs-up"
                    class="svg-inline--fa fa-thumbs-up"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2H464c26.5 0 48 21.5 48 48c0 18.5-10.5 34.6-25.9 42.6C497 275.4 504 288.9 504 304c0 23.4-16.8 42.9-38.9 47.1c4.4 7.3 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48H294.5c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3V320 272 247.1c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192H96c17.7 0 32 14.3 32 32V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V224c0-17.7 14.3-32 32-32z"
                    ></path>
                  </svg>
                  Thích
                </button>
                <button class="text-xs text-black-10 bg-grey-30 h-[20px] rounded mr-2 px-3 hover:text-black-10">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="eye"
                    class="svg-inline--fa fa-eye"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      fill="currentColor"
                      d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                    ></path>
                  </svg>
                  184
                </button>
              </div>
            </aside>
          </aside>
          <aside
            class="flex gap-x-2 w-full max-h-[80px] md:max-h-[150px] group transition-all duration-300 ease-in-out md:hover:text-blue-10"
          >
            <a
              class="w-[30%] md:w-[35%]"
              href="/binh-luan-phim/review-demon-slayer-kimetsu-no-yaiba---to-the-hashira-training-man-nhan-xung-tam-thuong-hieu-diet-quy/"
            >
              <img
                alt="[Review] Demon Slayer Kimetsu No Yaiba - To the Hashira Training: Mãn Nhãn Xứng Tầm Thương Hiệu Diệt Quỷ"
                loading="lazy"
                width="195"
                height="150"
                decoding="async"
                data-nimg="1"
                class="rounded-lg md:rounded md:w-[195px] md:h-full w-[120px] h-[75px] group-hover:md:scale-105 transition-all duration-300 object-cover object-cover duration-500 ease-in-out group-hover:opacity-100&quot; scale-100 blur-0 grayscale-0)"
                src="https://www.galaxycine.vn/media/2024/2/27/demon-slayer-kimetsu-no-yaiba---to-the-hashira-training-man-nhan-xung-tam-thuong-hieu-diet-qu-1_1709023345248.jpg"
                style="color: transparent"
              />
            </a>
            <aside
              class="descriptions title__movie text-left w-[70%] md:w-[65%]"
              style="margin-top: 0px; line-height: 120%"
            >
              <a
                class="text-sm md:text-base xl:text-xl font-normal md:font-bold hover:text-blue-10 transition-all duration-300 overflow-hidden leading-normal"
                href="/binh-luan-phim/review-demon-slayer-kimetsu-no-yaiba---to-the-hashira-training-man-nhan-xung-tam-thuong-hieu-diet-quy/"
              >
                [Review] Demon Slayer Kimetsu No Yaiba - To the Hashira Training: Mãn Nhãn Xứng Tầm Thương Hiệu Diệt Quỷ
              </a>
              <div class="card__votes flex mt-2">
                <button
                  type="button"
                  class="h-[20px] text-xs text-white hover:text-white mr-2 bg-blue-40 hover:bg-blue-800 focus:ring-1 focus:ring-blue-300 rounded px-3"
                >
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="thumbs-up"
                    class="svg-inline--fa fa-thumbs-up"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      fill="currentColor"
                      d="M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2H464c26.5 0 48 21.5 48 48c0 18.5-10.5 34.6-25.9 42.6C497 275.4 504 288.9 504 304c0 23.4-16.8 42.9-38.9 47.1c4.4 7.3 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48H294.5c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3V320 272 247.1c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192H96c17.7 0 32 14.3 32 32V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V224c0-17.7 14.3-32 32-32z"
                    ></path>
                  </svg>
                  Thích
                </button>
                <button class="text-xs text-black-10 bg-grey-30 h-[20px] rounded mr-2 px-3 hover:text-black-10">
                  <svg
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="fas"
                    data-icon="eye"
                    class="svg-inline--fa fa-eye"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      fill="currentColor"
                      d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                    ></path>
                  </svg>
                  610
                </button>
              </div>
            </aside>
          </aside>
        </article>
      </div>
      <div class="text-center mt-7 transition-all duration-300 ease-in-out">
        <a
          type="button"
          class="text-[#f26b38] hover:text-white w-40 border border-[#fb9440] hover:bg-[#fb9440] transition-all duration-300 focus:ring-1 focus:outline-none focus:ring-[#fb9440] rounded text-sm px-5 py-2.5 text-center inline-flex items-center dark:hover:bg-[#fb9440] dark:focus:ring-[#fb9440] mr-2 mb-2 justify-center"
          href="/binh-luan-phim/"
        >
          Xem thêm
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="angle-right"
            class="svg-inline--fa fa-angle-right ml-2"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
          >
            <path
              fill="currentColor"
              d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>
