<div class="carousel--animate w-full h-[506px]">
  <div class="app-header--shadow absolute w-full h-[60px] z-10"></div>
  <app-header class="relative z-20" />
  <div class="absolute w-full top-0">
    <nz-carousel nzEffect="fade" nzAutoPlaySpeed="3000" nzTransitionSpeed="550">
      @for (img of carousel.img; track img) {
        <div nz-carousel-content>
          <img
            class="carousel__img--transition"
            draggable="false"
            alt="Đây là Carousel"
            [src]="carousel.carouselPath + img"
          />
        </div>
      }
    </nz-carousel>
  </div>
</div>

<app-showing-movie></app-showing-movie>
<app-news></app-news>
<app-promotion></app-promotion>
<app-ads></app-ads>

<app-footer />
