<nz-layout class="flex-row">
  <app-sidebar-menu [isCollapsed]="isCollapsed" />
  <nz-layout>
    <app-header-admin [isCollapsed]="isCollapsed" />

    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">Bill is a cat.</div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>

<router-outlet></router-outlet>
