<div
  class="md:py-12 py-0 my-0 mx-auto screen1390:max-w-screen-xl xl:max-w-screen-screen1200 lg:max-w-4xl md:max-w-4xl md:px-4 sm:px-[45px] px-[16px]"
>
  <div class="flex items-center w-full justify-between mb-10">
    <div class="flex items-center">
      <div class="hidden md:block">
        <span class="border-l-4 border-solid border-[#034ea2] mr-2"></span>
        <h1 class="mr-10 text-xl font-bold uppercase not-italic inline">Tin khuyến mãi</h1>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-4">
    <a
      class="text-center px-5 first:px-0 last:px-0 focus:outline-none"
      tabindex="-1"
      href="/"
      style="width: 100%; display: inline-block"
    >
      <img
        alt="N95 Và Samsung Ký Kết Hợp Tác Chiến Lược"
        class="h-36 object-cover rounded-md mb-2 px-5 duration-500 ease-in-out group-hover:opacity-100 scale-100 blur-0 grayscale-0"
        src="/assets/images/promotion-thumbnails/combo-u22-thumbnail.jpg"
      />
      <span class="mt-4 text-base font-bold">N95 Và Samsung Ký Kết Hợp Tác Chiến Lược</span>
    </a>
    <a
      class="text-center px-5 first:px-0 last:px-0 focus:outline-none"
      tabindex="-1"
      href="/"
      style="width: 100%; display: inline-block"
    >
      <img
        alt="Giá Vé U22 - Chỉ Từ 45k"
        class="h-36 object-cover rounded-md mb-2 px-5 duration-500 ease-in-out group-hover:opacity-100 scale-100 blur-0 grayscale-0"
        src="/assets/images/promotion-thumbnails/bang-qltv-thumbnail.jpg"
      />
      <span class="mt-4 text-base font-bold">Giá Vé U22 - Chỉ Từ 45k</span>
    </a>
    <a
      class="text-center px-5 first:px-0 last:px-0 focus:outline-none"
      tabindex="-1"
      href="/"
      style="width: 100%; display: inline-block"
    >
      <img
        alt="Mưa Quà Tặng Cho Thành Viên N95"
        class="h-36 object-cover rounded-md mb-2 px-5 duration-500 ease-in-out group-hover:opacity-100 scale-100 blur-0 grayscale-0"
        src="/assets/images/promotion-thumbnails/ngay-tri-an-thumbnail.jpg"
      />
      <span class="mt-4 text-base font-bold">Mưa Quà Tặng Cho Thành Viên N95</span>
    </a>
    <a
      class="text-center px-5 first:px-0 last:px-0 focus:outline-none"
      tabindex="-1"
      href="/"
      style="width: 100%; display: inline-block"
    >
      <img
        alt="Tiêu Chí Phân Loại Phim Theo Lứa Tuổi"
        class="h-36 object-cover rounded-md mb-2 px-5 duration-500 ease-in-out group-hover:opacity-100 scale-100 blur-0 grayscale-0"
        src="/assets/images/promotion-thumbnails/vn-pay-10-percent-thumbnail.jpg"
      />
      <span class="mt-4 text-base font-bold">Tiêu Chí Phân Loại Phim Theo Lứa Tuổi</span>
    </a>
  </div>
</div>
